div.table{
  display: flex;
  height: 70px;
  /* width: 70px; */
  justify-content: center;
  color: white;
  border-radius: 10px;
  margin: 35px 0 0 30px;
}

p.tableNum{
  display: flex;
  font-weight: 600;
  align-self: center;
}

